body{
    background-image: url(arvore.jpg);
    
}
.cadastro{
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}
.cadastro label{
    color: aliceblue;
    font-size: 20px;
}
.voltar{
    background-color: rgba(54, 59, 63, 0.459);
    padding: 70px;
    font-size: 30px;
}
p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}